//Copyright 2017 Thomás Sousa Silva.
//
//Licensed under the Apache License, Version 2.0 (the "License");
//you may not use this file except in compliance with the License.
//You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//Unless required by applicable law or agreed to in writing, software
//distributed under the License is distributed on an "AS IS" BASIS,
//WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//See the License for the specific language governing permissions and
//limitations under the License.

//FixedContent.less
@import "https://bitbucket.org/TogetherDev/styles.less/raw/c468fb0eb98f6020ab549bfaa795f6d42547a65b/less/FixedContent.less";

.openSideNav(@color: inherit, @fontSize: 35px, @top: 20px, @side: 20px, @zIndex: 999, @selector: ~"[sideNav]") when not (@selector = "") {
    @{selector} {
        .openSideNav(@color, @fontSize, @top, @side,  @zIndex, "");
    }
}

.openSideNav(@color: inherit, @fontSize: 35px, @top: 20px, @side: 20px, @zIndex: 999, @selector: "") when (@selector = "") {
    color: @color;
    cursor: pointer;
    text-decoration: none;

    &:empty:before {
        font-size: @fontSize;
        content: "\2630";
    }
    &.fixedOnTopLeft {
        .fixedOnTopLeft(@top, @side, @zIndex);
    }
    &.fixedOnTopRight {
        .fixedOnTopRight(@top, @side, @zIndex);
    }
}

.sideNav(@background: black, @linksColor: white, @linksHoverColor: darken(@linksColor, 20%), @width: 50%, @height: 100%, @top: 0, @transition: 0.5s, @selector: ~".sideNav") when not (@selector = "") {
    @{selector} {
        .sideNav(@background, @linksColor, @linksHoverColor, @width, @height, @top, @transition, "");
    }
}

.sideNav(@background: black, @linksColor: white, @linksHoverColor: darken(@linksColor, 20%), @width: 100%, @height: 100%, @top: 0, @transition: 0.5s, @selector: "") when (@selector = "") {
    width: 0;
    margin: 0;
    padding: 0;
    height: @height;
    position: absolute;
    overflow-x: hidden;
    transition: @transition;
    background: @background;

    &.fixedOnTopLeft {
        .fixedOnTopLeft(@top);
    }
    &.fixedOnTopRight {
        .fixedOnTopRight(@top);
    }
    &.opened {
        padding: 10px 20px 10px 20px;

        & when not (@width = "") {
            width: @width;
        }
    }
    li {
        text-align: center;
        font-size: 0.9em;

        a {
            color: @linksColor;
            text-decoration: none;

            &:hover, &:focus, &.active {
                color: @linksHoverColor;
            }
        }
    }
    > li {
        padding: 5px;
        font-size: 1.5em;
        transition: @transition;

        &:first-child.closeSideNav {
            text-align: right;
            margin-bottom: 30px;

            > a:empty:before {
                content: "\00D7";
                font-size: 1.5em;
            }
        }
    }
    &, ul {
        list-style-type: none;
    }
}
